##############################
# Visual Studio
##############################
.vs/
*.user
*.suo

##############################
# .NET
##############################
**/bin/
**/obj/

##############################
# Android Studio
##############################
**/.gradle/
**/.idea/
**/.kotlin/
**/build/

local.properties

##############################
# APK
##############################
*.apk
*.aab

##############################
# Logs
##############################
*.log

##############################
# Transfer folders
##############################
**/ReceivedFiles/*
!**/ReceivedFiles/.gitkeep