# ==========================
# .NET
# ==========================

bin/
obj/
.vs/

# ==========================
# Android
# ==========================

.gradle/
.idea/
local.properties
captures/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# SwiftDrop
# ==========================

SwiftDropReceiver/ReceivedFiles/

# macOS
.DS_Store

# Windows
Thumbs.db